<main>
    <h1>Edit Post</h1>
    <form class="editForm">
        <label for="edit-title" class="label">Title: </label>
        <input id="edit-title" type="text" placeholder="Title" value="{{title}}">
        <label for="edit-content" class="label">Content: </label>
        <textarea id="edit-content" rows="3" placeholder="Enter text...">{{content}}</textarea>
        <button type="submit" id="update-post" class="btn">Update Post</button>
        <button type="submit" id="delete-post" class="btn">Delete Post</button>
    </form>
</main>