<main class="">
    <h1 class="">Tech Blog Posts</h1>
    <div class="row">
        {{#each posts}}
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h2 class="card-title"></h2>
                    <a href="/post/{{id}}" class="">{{title}}</a>
                </div>

                <div class="card-body">
                    <p>Created By: {{user.username}} at Date: {{format_date createdAt}}</p>
                </div>
            </div>

        </div>
        {{/each}}
    </div>
</main>