<div class="">
    <h2>Create a Post</h2>
    <form class="newPostForm">
        <label for="newpost-title" class="label">Title: </label>
        <input id="newpost-title" type="text" placeholder="Title...">
        <label for="newpost-content" class="label">Content: </label>
        <textarea id="newpost-content" rows="3" placeholder="Enter text">
        </textarea>
        <button type="submit" class="btn">Submit</button>
    </form>

</div>