<div class="">
    <h2>Create a Post</h2>
    <form class="newPostForm">
        <label for="newpost-title" class="label m-2">Title: </label>
        <input id="newpost-title" class="m-2" type="text" placeholder="Title...">
        <label for="newpost-content" class="label m-2">Content: </label>
        <textarea id="newpost-content" class="m-2" rows="3" placeholder="Enter text">
        </textarea>
        <div class="m-4 d-flex justify-content-center">
            <button type="submit" class="btn nav text-light">Submit</button>
        </div>
        
    </form>

</div>