<main>
    <h1>Sign Up</h1>
    <form class="signupForm">
        <label for="username-signup" class="label">Username: </label>
        <input id="username-signup" type="text" placeholder="Enter Username">
        <label for="email-signup" class="label">Email: </label>
        <input id="email-signup" type="text" placeholder="Enter Email">
        <label for="password-signup" class="label">Password: </label>
        <input id="password-signup" type="password" placeholder="Password must be at least 5 characters long">

        <button type="submit" class="btn">Submit</button>
    </form>

    <div>
        <p>Already have an account? <a href='/login'>Login</a></p>
    </div>

</main>