<main>
    <h1 class="d-flex justify-content-center">Sign Up</h1>
    <form class="signupForm">
        <div class="m-4 d-flex justify-content-center">
            <label for="username-signup" class="label m-2">Username: </label>
            <input id="username-signup" type="text" placeholder="Enter Username">
        </div>

        <div class="m-4 d-flex justify-content-center">
            <label for="email-signup" class="label m-2">Email: </label>
            <input id="email-signup" type="text" placeholder="Enter Email">
        </div>

        <div class="m-4 d-flex justify-content-center">
            <label for="password-signup" class="label m-2">Password: </label>
            <input id="password-signup" type="password" placeholder="Password must be at least 5 characters long">
        </div>

        <div class="d-flex justify-content-center">
            <button type="submit" id="signupButton" class="btn text-light nav">Submit</button>
        </div>

    </form>

    <div class="d-flex justify-content-center">
        <p>Already have an account? <a href='/login' class="nav btn text-light">Login</a></p>
    </div>

</main>